
header {
    background-color:#0F1C70;
    text-align: left;
    color: white;
    margin: 0px;
    padding: 20px;
}

.topnav {
    background-color: #0F1C70;
    text-align: right;
    margin: 1px;
    padding: 25px;
}

.topnav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 5px;
    padding: 10px;
}

body {
    background-image: url(/img/particles\ white\ .png);
    color: blue;
}

.column {
    background-color:#EEEEEE;
    float: left;
    width: 30%;
    height: 150px;
    margin: 5px;
    padding: 25px;
}