@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat&display=swap');

.header {
    background-color:#1A2B6B;
    text-align: left;
    color: #EEEEEE;
    margin: 0px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.topnav {
    background-color: #1A2B6B;
    text-align: right;
    padding: 40px;
}

.topnav a {
    text-decoration: none;
    font-weight: bold;
    color: #EEEEEE;
    margin: 5px;
    padding: 20px;
}

.topnav a:hover {
    background-color: #ced2d4a6;
    padding: 30px;
    border-radius: 20%;
}

body {
    background-image: url(/img/particles\ white\ .png);
    color: #1A2B6B;
}

h1 {
    text-align: center;
}

.column {
    background-color:#ced2d4f8;
    width: 400px;
    margin: 10px;
    height: 300px;
    padding: 50px;
    font-family: 'Cardo', serif;
    margin: 10px;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
   
  footer {
    clear: both;
    background-color:#ced2d4f8;
    text-align: center;
    padding: 10px;
    color: #1A2B6B;
}

#social {
 display: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}